

/* mobile */
@media screen and (max-width: 768px) {
/* footer */
.footer_inner a{color: #9f9f9f;}
.footer_inner>ul>li{display: inline-block;padding: 0 9px;}
.footer_inner>ul>li:nth-of-type(2) a{font-size: 15px;color: #fff;}
.footer_inner>ul>li:nth-of-type(2) a:hover{text-decoration: underline;}


.footer_inner>dl{margin: 20px 0 30px;}
.footer_inner>dl>dd{display: inline-block;margin-left: 5px;width: 109px;height: 27px;background: #272727;border: 1px solid #2c2c2c;border-radius: 2px;line-height: 27px;}
.footer_inner>dl>dd>a{color: #fff;}

.footer_inner>dl>dd.family_site{position: relative;width: 189px;background: #222;border: 1px solid #6d6d6d;text-align: left;}
.footer_inner>dl>dd.family_site>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0;color: #777;font-size: 12px;}
.footer_inner>dl>dd.family_site.on>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0; color: #777;font-size: 12px;}

.footer_inner>dl>dd.family_site>ul{display: none;position: absolute;bottom: 27px;left: -1px;right: -1px;
 background: #222; padding: 7px 14px;color: #a3a3a3;font-size: 12px;}
 .footer_inner>dl>dd.family_site.on>ul{display: block;}

.footer_inner>dl>dd.family_site>ul a{color: #777;}
.footer_inner>dl>dd.family_site>ul>li>ul{text-indent: 10px;}

.footer_inner>address{font-size: 12px;line-height: 24px;}
.footer_inner>address>span{padding: 0 7px;}

.footer_inner>p.copy{font-size: 12px;padding-top: 5px;letter-spacing: 0;}
}

/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {
/* footer */
.footer_inner a{color: #9f9f9f;}
.footer_inner>ul>li{display: inline-block;padding: 0 9px;}
.footer_inner>ul>li:nth-of-type(2) a{font-size: 15px;color: #fff;}
.footer_inner>ul>li:nth-of-type(2) a:hover{text-decoration: underline;}


.footer_inner>dl{margin: 20px 0 30px;}
.footer_inner>dl>dd{display: inline-block;margin-left: 5px;width: 109px;height: 27px;background: #272727;border: 1px solid #2c2c2c;border-radius: 2px;line-height: 27px;}
.footer_inner>dl>dd>a{color: #fff;}

.footer_inner>dl>dd.family_site{position: relative;width: 189px;background: #222;border: 1px solid #6d6d6d;text-align: left;}
.footer_inner>dl>dd.family_site>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0;color: #777;font-size: 12px;}
.footer_inner>dl>dd.family_site.on>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0; color: #777;font-size: 12px;}

.footer_inner>dl>dd.family_site>ul{display: none;position: absolute;bottom: 27px;left: -1px;right: -1px;
 background: #222; padding: 7px 14px;color: #a3a3a3;font-size: 12px;}
 .footer_inner>dl>dd.family_site.on>ul{display: block;}

.footer_inner>dl>dd.family_site>ul a{color: #777;}
.footer_inner>dl>dd.family_site>ul>li>ul{text-indent: 10px;}

.footer_inner>address{font-size: 12px;line-height: 24px;}
.footer_inner>address>span{padding: 0 7px;}

.footer_inner>p.copy{font-size: 12px;padding-top: 5px;letter-spacing: 0;}

/* top */
.top{position: absolute;}
}

/* PC크기 1025~최대 */
@media screen and (min-width:1025px) {
/* footer */
.footer_inner a{color: #9f9f9f;}
.footer_inner>ul>li{display: inline-block;padding: 0 9px;}
.footer_inner>ul>li:nth-of-type(2) a{font-size: 15px;color: #fff;}
.footer_inner>ul>li:nth-of-type(2) a:hover{text-decoration: underline;}


.footer_inner>dl{margin: 20px 0 30px;}
.footer_inner>dl>dd{display: inline-block;margin-left: 5px;width: 109px;height: 27px;background: #272727;border: 1px solid #2c2c2c;border-radius: 2px;line-height: 27px;}
.footer_inner>dl>dd>a{color: #fff;}

.footer_inner>dl>dd.family_site{position: relative;width: 189px;background: #222;border: 1px solid #6d6d6d;text-align: left;}
.footer_inner>dl>dd.family_site>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0;color: #777;font-size: 12px;}
.footer_inner>dl>dd.family_site.on>a{display: block;padding: 0 14px;background: url(../images/ico_family_arrow.png) no-repeat 162px 0; color: #777;font-size: 12px;}

.footer_inner>dl>dd.family_site>ul{display: none;position: absolute;bottom: 27px;left: -1px;right: -1px;
  background: #222; padding: 7px 14px;color: #a3a3a3;font-size: 12px;}
  .footer_inner>dl>dd.family_site.on>ul{display: block;}

.footer_inner>dl>dd.family_site>ul a{color: #777;}
.footer_inner>dl>dd.family_site>ul>li>ul{text-indent: 10px;}

.footer_inner>address{font-size: 12px;line-height: 24px;}
.footer_inner>address>span{padding: 0 7px;}

.footer_inner>p.copy{font-size: 12px;padding-top: 5px;letter-spacing: 0;}

/* top */
.top{display: none; position: fixed; right: 20px; bottom: 60px;}
.top.on{display: block;}
.top.ab{position:absolute; right: 20px; top: -116px;}
}