
/* mobile */
@media screen and (max-width: 768px) {

body.on{position: fixed;left: 0;top: 0;width: 100%;height: 100%;}
/* 배경 */
.bg.on{z-index: 80;position: absolute;left:0;top:0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.8);}

/* 배너 section */

div.banner_frame{display: flex;justify-content: flex-start;width: 400%;height: 100%;position: relative;left: 0; transition: all 0.6s linear 0s;}
div.banner_frame>section{flex: 1;height: 100%;}

div.banner_frame>section.white,.banner_rolling a.white{color: #fff;}
div.banner_frame>section.white>div>ul>li:last-of-type>a{color: #fff;border-color: #fff;}

.banner_frame>section:nth-of-type(1){background: url(../images/20230306_186b44dc90721.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(2){background: url(../images/20230222_186765a392c71.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(3){background: url(../images/20230227_186912613c381.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(4){background: url(../images/20230105_18580f1722f11.jpg) no-repeat 50% 0;}

.banner_frame>section>div{width: 100%;margin: 0 auto;padding-left: 22px;padding-top: 100px;box-sizing: border-box;}


.banner_frame>section>div>ul>li:first-of-type{padding: 15px 0 20px; font-size: 30px; letter-spacing: 0;font-family: cj_onlyone_medium;line-height: 1.2;}
.banner_frame>section>div>ul>li:nth-of-type(2){font-size: 16px;line-height: 26px;margin-bottom: 40px;}
.banner_frame>section>div>ul>li:last-of-type>a{display: block;width: 160px;height: 40px;
border: 1px solid #000;border-radius: 3px;box-sizing: border-box;
font-size: 14px;color: #000;text-align: center;line-height: 40px;transition: all 400ms linear 0s;}
.banner_frame>section>div>ul>li:last-of-type>a:hover{border-color: transparent;background: rgba(255, 255, 255, 0.3);}



/* 배너 화살표 */
.banner_arrow>a{display: none;}

.banner_arrow>a.white,.banner_rolling a.white{background: url(../images/btn_banner.png);}

/* 배너 롤링 */
.banner_rolling{display: flex;position: absolute;left: 50%;transform: translateX(-50%);bottom: 30px;}
.banner_rolling>ul{display: flex;}
.banner_rolling>ul>li{flex: 1;display: inline-block;line-height: 25px;margin-left: 10px;}
.banner_rolling a{display: inline-block;text-indent: -9999px;overflow: hidden;
  background: url(../images/btn_banner_black.png) no-repeat 0 0;}
  
.banner_rolling>ul>li>a{width: 12px;height: 12px;background-position: -137px -10px;}
.banner_rolling>ul>li>a.on{width: 12px;height: 12px;background-position: -137px -49px;}
/* 재생 멈춤 */
.banner_rolling>p>a{width: 20px;height: 20px;background-position: -107px -35px;}
.banner_rolling>p>a.pause{background-position: -107px -10px;}

/* container */

/* content1 */
.content1>ul{display: flex;justify-content: center;width: 100%;margin: 40px auto;;flex-wrap: wrap;}
.content1>ul>li{position: relative;text-align: center;width: 50%;}
.content1>ul>li::after{content: "";position: absolute;right: 0;top: 15px;width: 1px;height: 151px;background-color: #ddd;}
.content1>ul>li:last-of-type::after{display: none;}

.content1>ul>li span{position: relative;display: block;width: 150px;height: 130px;margin: 0 auto;}
.content1>ul>li span>img{position: absolute;left: 0;top: 0;opacity: 0;}
.content1>ul>li:nth-of-type(2) span>img{left: 20px;}
.content1>ul>li span>img:nth-of-type(1){opacity: 1;}

.content1>ul>li dt{font-size: 18px; color: #000;}
.content1>ul>li dd{font-size: 14px;padding-top: 5px;color: #555;}


/* content2 */
.content2_inner>h2{font-size: 34px;color: #222;text-align: center;font-family: cj_onlyone_medium;margin: 70px 0;}
.content2_inner>article{background-color: #fff;text-align: center;letter-spacing: 0;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);overflow: hidden;transition: top 0.5s linear 0s,left 0.5s linear 0s;}


/* article 공통 */
.content2_inner>article>a{color:#222;}
.content2_inner>article>a>div>h3{margin-top: 15px;margin-bottom: 10px;}
.content2_inner>article>a>div>h3>img{height: 35px;}
.content2_inner>article>a>div li:first-of-type{font-size: 16px;line-height: 24px;letter-spacing: -1px;}

.content2_inner>article>a>span{overflow: hidden;display: block;}

.content2_inner>article>div{position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: #fff;transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;}

.content2_inner>article div.detail>h3{margin-bottom: 10px;}
.content2_inner>article div.detail>h3>img{height: 35px;}

.content2_inner>article>div li:first-of-type{color: #222;font-size: 16px;margin-bottom: 10px;}
.content2_inner>article>div li{color: #555;font-size: 14px;line-height: 24px;}

.content2_inner>article>div li:last-of-type{margin-top: 10px; padding: 0 15px;border: 1px solid #222;border-radius: 2px;}
.content2_inner>article>div li:last-of-type>a{display: block; color: #222; padding-right: 20px; background: url(../images/ico_out_link04.png) no-repeat 100% 50%;} 




/* article-1 */
.content2_inner>article:nth-of-type(1){position: absolute;left: 50%;top: 215px;width: 400px;height: 510px;transform: translateX(-50%);}
.content2_inner>article:nth-of-type(1)>a>span{width: 400px;height: 400px;}
.content2_inner>article:nth-of-type(1)>a>span>img{width: 100%;}
.content2_inner>article:nth-of-type(1)>a>div{background: #fff;width: 100%;height: 110px;}

.content2_inner>article:nth-of-type(1)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(1):hover>div{top: 0;}

/* article-2 */
.content2_inner>article:nth-of-type(2){position: absolute;left: 50%;transform: translateX(-50%);top: 780px;width: 500px;height: 220px;text-align: center;}
.content2_inner>article:nth-of-type(2)>a>span{position: absolute;right: 0;width: 50%;height: 100%;}
.content2_inner>article:nth-of-type(2)>a>span>img{width: 100%;}
.content2_inner>article:nth-of-type(2)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}

.content2_inner>article:nth-of-type(2)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

.content2_inner>article:nth-of-type(2)>div{left: -100%; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(2):hover>div{left: 0;}




/* article-3 */
.content2_inner>article:nth-of-type(3){position: absolute;left: 100px;top: 1250px;width: 220px;height: 380px;text-align:center;}
.content2_inner>article:nth-of-type(3)>a>span{position: absolute;right: 0;width: 220px;}
.content2_inner>article:nth-of-type(3)>a>span>img{height: 220px}
.content2_inner>article:nth-of-type(3)>a>div{position: absolute; bottom: 0;background: #fff;width: 100%;height:40%;text-align: center;}

.content2_inner>article:nth-of-type(3)>div{top: 100%; left: 0; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(3):hover>div{top: 0;}

.content2_inner>article:nth-of-type(3)>div li:last-child{margin: 10px 50px;}


  /* article-4 */
.content2_inner>article:nth-of-type(4){position: absolute; left: 380px;top: 1060px;width: 300px;height: 576px;}
.content2_inner>article:nth-of-type(4)>a>span{position: absolute;width: 100%}
.content2_inner>article:nth-of-type(4)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(4)>a>div{position: absolute;bottom: 0;background: #fff;width: 100%;height: 120px;margin-bottom: 30px;}
.content2_inner>article:nth-of-type(4)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat 0 0;}
.content2_inner>article:nth-of-type(4)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(4)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

.content2_inner>article:nth-of-type(4)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(4):hover>div{top: 0;}




/* article-5 */
.content2_inner>article:nth-of-type(5){position: absolute;left: 100px;top: 1770px; width: 300px;height: 300px;}
.content2_inner>article:nth-of-type(5)>a>span{width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(5)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(5)>a>div>h3{position: absolute;bottom: 0;left: 10px;background: #fff;}

.content2_inner>article:nth-of-type(5)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(5):hover>div{top: 0;}

.content2_inner>article:nth-of-type(5)>div li:last-child{margin: 10px 50px;}

/* article-6 */

.content2_inner>article:nth-of-type(6){position: absolute; left: 450px;top: 1690px; width: 220px;height: 380px;}
.content2_inner>article:nth-of-type(6)>a>span{width: 220px;}
.content2_inner>article:nth-of-type(6)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(6)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(6):hover>div{top: 0;}

.content2_inner>article:nth-of-type(6)>div li:last-child{margin: 10px 50px;}

/* article-7 */
.content2_inner>article:nth-of-type(7){position: absolute;left: 50%;transform: translateX(-50%);top: 2580px;width: 500px;height: 316px;}
.content2_inner>article:nth-of-type(7)>a>span{position:absolute;right: 0;width: 50%;}
.content2_inner>article:nth-of-type(7)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(7)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}
.content2_inner>article:nth-of-type(7)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

.content2_inner>article:nth-of-type(7)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat -36px 0;}
.content2_inner>article:nth-of-type(7)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(7)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

.content2_inner>article:nth-of-type(7)>div{left: -100%; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(7):hover>div{left: 0;}


/* article-8 */
.content2_inner>article:nth-of-type(8){position: absolute; left: 50%;transform: translateX(-50%);top: 2130px; width: 400px;height: 400px;}
.content2_inner>article:nth-of-type(8)>a>span{width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(8)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(8)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(8):hover>div{top: 0;}

.content2_inner>article:nth-of-type(8)>div li:last-child{margin: 10px 100px;}



/* circle-wrap */
.circle_wrap>span{position: absolute;}

.combine_left{top: 70px;left: 55px;width: 210px;height: 209px;background: url(../images/bg_circle_doughnut01.png)no-repeat 0 0;}
.dougnut_Left_s{top: 800px;left: 65px;width: 162px;height:162px;background: url(../images/bg_circle02.png)no-repeat 0 0;}
.dougnut_Left_L{top: 1310px;left: 25px;width: 508px;height:508px;background: url(../images/bg_circle06.png)no-repeat 0 0;}

.dougnut_Center_M{top: 890px;right: 840px;width: 206px;height: 206px;background: url(../images/bg_circle04.png) no-repeat 0 0;}
.dougnut_Center_s{top: 720px;left: 910px;width:119px;height:119px;background: url(../images/bg_circle02.png)no-repeat 0 0;}

.dougnut_Right_L{top: 945px;right: 30px;width: 206px;height: 206px;background: url(../images/bg_circle05.png) no-repeat 0 0;}
.dougnut_Right_s{top: 370px;right: 60px;width: 135px;height: 135px;background: url(../images/bg_circle01.png)no-repeat 0 0;}
.combine_Right{top: 70px;right: 60px;width: 210px;height: 209px;background: url(../images/bg_circle_doughnut02.png) no-repeat 0 0;}



/* content3 */
.content3_inner>h2{font-size: 34px; line-height: 60px; font-family: cj_only_medium; text-align: center;}
.content3_inner>ul{display: flex; justify-content: center; padding: 30px 0;}
.content3_inner>ul>li{margin-left: 12px; padding-left: 14px; border-left: 1px solid #ddd;}
.content3_inner>ul>li:first-child{border: none; margin-left: 0; padding-left: 0;}
.content3_inner>ul>li>a{color: #888; font-size: 16px; line-height: 16px;}
.content3_inner>ul>li>a:hover,.content3_inner>ul>li>a.on{color: #222; text-decoration: underline;}

.content3_inner>div>ul{width: 95%; margin: 0 auto;}
.content3_inner>div>ul::after{content: ""; display: block; clear: both;}
.content3_inner>div>ul{width: 95%;}
.content3_inner>div>ul>li{position: relative; float: left; text-align: center;}

.content3_inner>div>ul>li>a{display: block; width: 164px; height: 80px; border: 1px solid transparent;
 box-sizing: border-box; line-height: 80px;} 
.content3_inner>div>ul>li.on>a{border: 1px solid #f4790b;}
.content3_inner>div>ul>li>a>img{height: 41px;}

.content3_inner>div>ul>li>span{opacity: 0; z-index: 10; position: absolute; left: 0; top: 0; 
 width: 164px; height: 80px; background: #eee; font-size: 16px;color: #555; 
 padding: 25px 10px 0; line-height: 1.5; box-sizing: border-box; 
 transition: all 0.1s ease 0s;}

.content3_inner>div>ul>li:nth-child(4n+0).on>span{opacity: 1; left: -164px;}
.content3_inner>div>ul>li:nth-child(4n+0).on>span::before{content: ""; display: block; width: 10px; height: 16px;
  background: url(../images/ico_alliance_arrow.png) no-repeat 0 0; position: absolute; left: 155px; top: 50%; transform: translateY(-50%);}
.content3_inner>div>ul>li.on>span{opacity: 1; left: 164px;} 
.content3_inner>div>ul>li>span::before{content: ""; display: block; width: 10px; height: 16px;
 background: url(../images/ico_alliance_arrow01.png) no-repeat 0 0; position: absolute; left: -1px; top: 50%; transform: translateY(-50%);}
.content3_inner>div>ul>li>span>strong{font-weight: bold;}

li.event::before{content: "event"; position: absolute; top: 8px; right: 8px; width: 38px; height: 16px; border-radius: 3px;
background: #ee6900; color: #fff; font-size: 12px; text-align: center; line-height: 16px; font-family: arial; letter-spacing: 0;}

}
/* tablet */
@media screen and (min-width: 769px) and (max-width: 1024px) {

/* 배너 section */
div.banner_frame{display: flex;justify-content: flex-start;width: 400%;height: 100%;position: relative;left: 0; transition: all 0.6s linear 0s;}
div.banner_frame>section{flex: 1;height: 100%;}
div.banner_frame>section.white,.banner_rolling a.white{color: #fff;}
div.banner_frame>section.white>div>ul>li:last-of-type>a{color: #fff;border-color: #fff;}

.banner_frame>section:nth-of-type(1){background: url(../images/20230306_186b44dc90721.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(2){background: url(../images/20230222_186765a392c71.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(3){background: url(../images/20230227_186912613c381.jpg) no-repeat 50% 0;}
.banner_frame>section:nth-of-type(4){background: url(../images/20230105_18580f1722f11.jpg) no-repeat 50% 0;}

.banner_frame>section>div{width: 96%;min-width: 986px;margin: 0 auto;padding-left: 22px;padding-top: 100px;box-sizing: border-box;}

.banner_frame>section>div>ul>li:first-of-type{width: 500px;padding: 15px 0 20px; font-size: 40px; letter-spacing: 0;font-family: cj_onlyone_medium;line-height: 1.2;}
.banner_frame>section>div>ul>li:nth-of-type(2){font-size: 16px;line-height: 26px;margin-bottom: 40px}
.banner_frame>section>div>ul>li:last-of-type>a{display: block;width: 160px;height: 40px;
border: 1px solid #000;border-radius: 3px;box-sizing: border-box;
font-size: 14px;color: #000;text-align: center;line-height: 40px;transition: all 400ms linear 0s;}
.banner_frame>section>div>ul>li:last-of-type>a:hover{border-color: transparent;background: rgba(255, 255, 255, 0.3);}

/* 배너 화살표 */
.banner_arrow>a{position: absolute;top: 50%;transform: translateY(-50%);width: 46px;height:50px;background: url(../images/btn_banner_black.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}
.banner_arrow>a.prev{left: 20px;}
.banner_arrow>a.next{right: 20px;background-position-x: -46px;}

.banner_arrow>a.white{background: url(../images/btn_banner.png)no-repeat}
.banner_rolling>ul>li>a.white{background: url(../images/btn_banner.png)no-repeat;background-position: -137px -9px;}
.banner_arrow>a.next.white{background-position-x: -46px;}
.banner_rolling>p>a.white{background: url(../images/btn_banner.png)no-repeat;background-position: -107px -35px;}
.banner_rolling>p>a.pause.white{background: url(../images/btn_banner.png)no-repeat;background-position: -107px -5px;}

/* 배너 롤링 */
.banner_rolling{display: flex;position: absolute;left: 50%;transform: translateX(-50%);bottom: 30px;}
.banner_rolling>ul{display: flex;}
.banner_rolling>ul>li{flex: 1;display: inline-block;line-height: 25px;margin-left: 10px;}

.banner_rolling a{display: inline-block;text-indent: -9999px;overflow: hidden;
  background: url(../images/btn_banner_black.png) no-repeat 0 0;}
  
.banner_rolling>ul>li>a{width: 12px;height: 12px;background-position: -137px -9px;}
.banner_rolling>ul>li>a.on{background-position: -137px -39px;}
/* 재생 멈춤 */
.banner_rolling>p>a{width: 20px;height: 20px;background-position: -107px -35px;}
.banner_rolling>p>a.pause{background-position: -107px -5px;}

/* container */
/* content1 */
.content1>ul{display: flex;justify-content: center;width: 96%;min-width: 986px;margin: 40px auto;}
.content1>ul>li{position: relative;flex: 1;text-align: center;}
.content1>ul>li::after{content: "";position: absolute;right: 0;top: 15px;width: 1px;height: 151px;background-color: #ddd;}
.content1>ul>li:last-of-type::after{display: none;}

.content1>ul>li span{position: relative;display: block;width: 150px;height: 130px;margin: 0 auto;}
.content1>ul>li span>img{position: absolute;left: 0;top: 0;opacity: 0;}
.content1>ul>li:nth-of-type(2) span>img{left: 20px;}
.content1>ul>li span>img:nth-of-type(1){opacity: 1;}

.content1>ul>li dt{font-size: 18px; color: #000;}
.content1>ul>li dd{font-size: 14px;padding-top: 5px;color: #555;}


/* content2 */
.content2_inner>h2{font-size: 34px;color: #222;text-align: center;font-family: cj_onlyone_medium;margin: 70px 0;}
.content2_inner>article{background-color: #fff;text-align: center;letter-spacing: 0;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);overflow: hidden;transition: top 0.5s linear 0s,left 0.5s linear 0s;}

/* article 공통 */
.content2_inner>article>a{color:#222;}
.content2_inner>article>a>div>h3{margin-top: 15px;margin-bottom: 10px;}
.content2_inner>article>a>div>h3>img{height: 35px;}
.content2_inner>article>a>div li:first-of-type{font-size: 16px;line-height: 24px;letter-spacing: -1px;}

.content2_inner>article>a>span{overflow: hidden;display: block;}

.content2_inner>article>div{position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: #fff;transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;}

.content2_inner>article div.detail>h3{margin-bottom: 10px;}
.content2_inner>article div.detail>h3>img{height: 35px;}

.content2_inner>article>div li:first-of-type{color: #222;font-size: 16px;margin-bottom: 10px;}
.content2_inner>article>div li{color: #555;font-size: 14px;line-height: 24px;}

.content2_inner>article>div li:last-of-type{margin-top: 10px; padding: 0 15px;border: 1px solid #222;border-radius: 2px;}
.content2_inner>article>div li:last-of-type>a{display: block; color: #222; padding-right: 20px; background: url(../images/ico_out_link04.png) no-repeat 100% 50%;} 

/* article-1 */
.content2_inner>article:nth-of-type(1){position: absolute;left: 50px;top: 215px;width: 400px;height: 510px;}
.content2_inner>article:nth-of-type(1)>a>span{width: 400px;height: 400px;}
.content2_inner>article:nth-of-type(1)>a>span>img{width: 100%;}
.content2_inner>article:nth-of-type(1)>a>div{background: #fff;width: 100%;height: 110px;}

.content2_inner>article:nth-of-type(1)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(1):hover>div{top: 0;}

/* article-2 */
.content2_inner>article:nth-of-type(2){position: absolute;left: 482px;top: 215px;width: 500px;height: 220px;text-align: center;}
.content2_inner>article:nth-of-type(2)>a>span{position: absolute;right: 0;width: 50%;height: 100%;}
.content2_inner>article:nth-of-type(2)>a>span>img{width: 100%;}
.content2_inner>article:nth-of-type(2)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}

.content2_inner>article:nth-of-type(2)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

.content2_inner>article:nth-of-type(2)>div{left: -100%; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(2):hover>div{left: 0;}

/* article-3 */
.content2_inner>article:nth-of-type(3){position: absolute;left: 482px;top: 490px;width: 220px;height: 380px;text-align:center;}
.content2_inner>article:nth-of-type(3)>a>span{position: absolute;right: 0;width: 220px;}
.content2_inner>article:nth-of-type(3)>a>span>img{height: 220px}
.content2_inner>article:nth-of-type(3)>a>div{position: absolute; bottom: 0;background: #fff;width: 100%;height:40%;text-align: center;}

.content2_inner>article:nth-of-type(3)>div{top: 100%; left: 0; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(3):hover>div{top: 0;}

.content2_inner>article:nth-of-type(3)>div li:last-child{margin: 10px 50px;}

  /* article-4 */
.content2_inner>article:nth-of-type(4){position: absolute; left: 50px;top: 920px;width: 300px;height: 576px;}
.content2_inner>article:nth-of-type(4)>a>span{position: absolute;width: 100%}
.content2_inner>article:nth-of-type(4)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(4)>a>div{position: absolute;bottom: 0;background: #fff;width: 100%;height: 120px;margin-bottom: 30px;}
.content2_inner>article:nth-of-type(4)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat 0 0;}
.content2_inner>article:nth-of-type(4)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(4)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

.content2_inner>article:nth-of-type(4)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(4):hover>div{top: 0;}




/* article-5 */
.content2_inner>article:nth-of-type(5){position: absolute;left: 384px;top: 920px; width: 300px;height: 300px;}
.content2_inner>article:nth-of-type(5)>a>span{width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(5)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(5)>a>div>h3{position: absolute;bottom: 0;left: 10px;background: #fff;}

.content2_inner>article:nth-of-type(5)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(5):hover>div{top: 0;}

.content2_inner>article:nth-of-type(5)>div li:last-child{margin: 10px 50px;}

/* article-6 */

.content2_inner>article:nth-of-type(6){position: absolute; left: 735px;top: 920px; width: 220px;height: 380px;}
.content2_inner>article:nth-of-type(6)>a>span{width: 220px;}
.content2_inner>article:nth-of-type(6)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(6)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(6):hover>div{top: 0;}

.content2_inner>article:nth-of-type(6)>div li:last-child{margin: 10px 50px;}

/* article-7 */
.content2_inner>article:nth-of-type(7){position: absolute;left: 50px;top: 1800px;width: 500px;height: 316px;}
.content2_inner>article:nth-of-type(7)>a>span{position:absolute;right: 0;width: 50%;}
.content2_inner>article:nth-of-type(7)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(7)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}
.content2_inner>article:nth-of-type(7)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

.content2_inner>article:nth-of-type(7)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat -36px 0;}
.content2_inner>article:nth-of-type(7)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(7)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

.content2_inner>article:nth-of-type(7)>div{left: -100%; width: 100%; height: 100%;}
.content2_inner>article:nth-of-type(7):hover>div{left: 0;}


/* article-8 */
.content2_inner>article:nth-of-type(8){position: absolute; left: 384px;top: 1350px; width: 400px;height: 400px;}
.content2_inner>article:nth-of-type(8)>a>span{width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(8)>a>span>img{width: 100%;}

.content2_inner>article:nth-of-type(8)>div{top:100%;width: 100%;height: 100%;}
.content2_inner>article:nth-of-type(8):hover>div{top: 0;}

.content2_inner>article:nth-of-type(8)>div li:last-child{margin: 10px 100px;}


/* circle-wrap */
.circle_wrap>span{position: absolute;}

.combine_left{top: 70px;left: 55px;width: 210px;height: 209px;background: url(../images/bg_circle_doughnut01.png)no-repeat 0 0;}
.dougnut_Left_s{top: 800px;left: 65px;width: 162px;height:162px;background: url(../images/bg_circle02.png)no-repeat 0 0;}
.dougnut_Left_L{top: 1310px;left: 25px;width: 508px;height:508px;background: url(../images/bg_circle06.png)no-repeat 0 0;}

.dougnut_Center_M{top: 890px;right: 840px;width: 206px;height: 206px;background: url(../images/bg_circle04.png) no-repeat 0 0;}
.dougnut_Center_s{top: 720px;left: 910px;width:119px;height:119px;background: url(../images/bg_circle02.png)no-repeat 0 0;}

.dougnut_Right_L{top: 945px;right: 30px;width: 206px;height: 206px;background: url(../images/bg_circle05.png) no-repeat 0 0;}
.dougnut_Right_s{top: 370px;right: 60px;width: 135px;height: 135px;background: url(../images/bg_circle01.png)no-repeat 0 0;}
.combine_Right{top: 70px;right: 60px;width: 210px;height: 209px;background: url(../images/bg_circle_doughnut02.png) no-repeat 0 0;}



/* content3 */
.content3_inner>h2{font-size: 34px;line-height: 60px;font-family: cj_onlyone_medium;;text-align: center;}
.content3_inner>ul{display: flex;justify-content: center;padding: 30px 0;}
.content3_inner>ul>li{margin-left: 14px;padding-left: 14px;border-left: 1px solid #ddd;}
.content3_inner>ul>li:first-of-type{border: none;margin-left: 0;padding-left: 0;}
.content3_inner>ul>li>a{color: #888;font-size: 16px;line-height: 16px;}
.content3_inner>ul>li>a:hover,.content3_inner>ul>li>a.on{color: #222;text-decoration: underline;}


.content3_inner>div>ul{width: 100%;}
.content3_inner>div>ul::after{content: "";display: block;clear: both;}
.content3_inner>div>ul>li{position: relative;float: left;text-align: center;}

.content3_inner>div>ul>li>a{display: block;width: 164px;height: 80px;border: 1px solid transparent; box-sizing: border-box;line-height: 80px;}

.content3_inner>div>ul>li.on>a{border: 1px solid #f4790b;}
.content3_inner>div>ul>li>a>img{height: 41px;}

.content3_inner>div>ul>li>span{opacity: 0;z-index: 10;position: absolute;left: 0;top: 0;width: 164px;height: 80px;background: #eee;font-size: 16px;color: #555;padding: 25px 10px 0;line-height: 1.5;box-sizing: border-box;transition: all 0.1s ease 0s;box-sizing: border-box;}
.content3_inner>div>ul>li>span::after{content: "";display: block;width: 10px;height: 16px;background: url(../images/ico_alliance_arrow01.png) no-repeat 0 0;position: absolute; left: -1px; top: 50%;transform: translateY(-50%);}
.content3_inner>div>ul>li.on>span{opacity: 1;left: 164px;}


.content3_inner>div>ul>li>span>strong{font-weight: bold;}

.content3_inner>div>ul>li.event::after{content: "event";position: absolute;top: 8px;right: 8px;width: 38px;height: 16px;border-radius: 3px;background: #ee6900;color: #fff;font-size: 12px;text-align: center;line-height: 16px;font-family: arial;letter-spacing: 0;}

.content3_inner>div>ul>li:nth-of-type(6n+0).on>span{opacity: 1; left: -164px;} 
.content3_inner>div>ul>li:nth-of-type(6n+0).on>span::before{content: ""; display: block; width: 10px; height: 16px; background: url(../images/ico_alliance_arrow.png) no-repeat 0 0; position: absolute; left: 155px; top: 50%; transform: translateY(-50%);}
 .content3_inner>div>ul>li.on>span{opacity: 1; left: 164px;} 
 .content3_inner>div>ul>li>span::before{content: "";background: url(../images/../images/ico_alliance_arrow.png)no-repeat 0 0; display: block; width: 10px; height: 16px;position: absolute; left: -1px; top: 50%; transform: translateY(-50%);}
 .content3_inner>div>ul>li>span>strong{font-weight: bold;}
 


}
/* PC크기 1025~최대 */
@media screen and (min-width:1025px) {

  
  /* 배너 section */
  div.banner_frame{display: flex;justify-content: flex-start;width: 400%;height: 100%;position: relative;left: 0; transition: all 0.6s linear 0s;}
  div.banner_frame>section{flex: 1;height: 100%;}
  div.banner_frame>section.white{color: #fff;}
  div.banner_frame>section.white>div>ul>li:last-of-type>a{color: #fff;border-color: #fff;}

  .banner_frame>section:nth-of-type(1){background: url(../images/20230306_186b44dc90721.jpg) no-repeat 50% 0;}
  .banner_frame>section:nth-of-type(2){background: url(../images/20230222_186765a392c71.jpg) no-repeat 50% 0;}
  .banner_frame>section:nth-of-type(3){background: url(../images/20230227_186912613c381.jpg) no-repeat 50% 0;}
  .banner_frame>section:nth-of-type(4){background: url(../images/20230105_18580f1722f11.jpg) no-repeat 50% 0;}

  .banner_frame>section>div{width: 1060px;margin: 0 auto;padding-left: 22px;padding-top: 100px;box-sizing: border-box;}

  .banner_frame>section>div>ul>li:first-of-type{width: 500px;padding: 15px 0 20px; font-size: 50px; letter-spacing: 0;font-family: cj_onlyone_medium;line-height: 1.2;}
  .banner_frame>section>div>ul>li:nth-of-type(2){font-size: 16px;line-height: 26px;margin-bottom: 40px}
  .banner_frame>section>div>ul>li:last-of-type>a{display: block;width: 160px;height: 40px;
  border: 1px solid #000;border-radius: 3px;box-sizing: border-box;
  font-size: 14px;color: #000;text-align: center;line-height: 40px;transition: all 400ms linear 0s;}
  .banner_frame>section>div>ul>li:last-of-type>a:hover{border-color: transparent;background: rgba(255, 255, 255, 0.3);}



  /* 배너 화살표 */
  .banner_arrow>a{position: absolute;top: 50%;transform: translateY(-50%);width: 46px;height:50px;background: url(../images/btn_banner_black.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;}
  .banner_arrow>a.prev{left: 20px;}
  .banner_arrow>a.next{right: 20px;background-position-x: -46px;}

  .banner_arrow>a.white{background: url(../images/btn_banner.png)no-repeat}
  .banner_rolling>ul>li>a.white{background: url(../images/btn_banner.png)no-repeat;background-position: -137px -9px;}
  .banner_arrow>a.next.white{background-position-x: -46px;}
  .banner_rolling>p>a.white{background: url(../images/btn_banner.png)no-repeat;background-position: -107px -35px;}
  .banner_rolling>p>a.pause.white{background: url(../images/btn_banner.png)no-repeat;background-position: -107px -5px;}

  /* 배너 롤링 */
  .banner_rolling{display: flex;position: absolute;left: 50%;transform: translateX(-50%);bottom: 30px;}
  .banner_rolling>ul{display: flex;}
  .banner_rolling>ul>li{flex: 1;display: inline-block;line-height: 25px;margin-left: 10px;}

  .banner_rolling a{display: inline-block;text-indent: -9999px;overflow: hidden;
    background: url(../images/btn_banner_black.png) no-repeat 0 0;}
    
  .banner_rolling>ul>li>a{width: 12px;height: 12px;background-position: -137px -9px;}
  .banner_rolling>ul>li>a.on{background-position: -137px -39px;}
  /* 재생 멈춤 */
  .banner_rolling>p>a{width: 20px;height: 20px;background-position: -107px -35px;}
  .banner_rolling>p>a.pause{background-position: -107px -5px;}

  




  /* container */
  /* content1 */
  .content1>ul{display: flex;justify-content: center;width: 1600px;margin: 40px auto;}
  .content1>ul>li{position: relative;flex: 1;text-align: center;}
  .content1>ul>li::after{content: "";position: absolute;right: 0;top: 15px;width: 1px;height: 151px;background-color: #ddd;}
  .content1>ul>li:last-of-type::after{display: none;}


  .content2_inner>article>a>div>h3{margin-top: 15px;margin-bottom: 10px;}
  .content2_inner>article>a>div>h3>img{height: 35px;}

  .content1>ul>li span{position: relative;display: block;width: 150px;height: 130px;margin: 0 auto;}
  .content1>ul>li span>img{position: absolute;left: 0;top: 0;opacity: 0;}

  .content1>ul>li:nth-of-type(2) span>img{left: 20px;}
  .content1>ul>li span>img:nth-of-type(1){opacity: 1;}

  .content1>ul>li dt{font-size: 18px; color: #000;}
  .content1>ul>li dd{font-size: 14px;padding-top: 5px;color: #555;}
  

  /* content2 */
  .content2_inner>h2{font-size: 34px;color: #222;text-align: center;font-family: cj_onlyone_medium;margin: 70px 0;}
  .content2_inner>article{background-color: #fff;text-align: center;letter-spacing: 0;box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);overflow: hidden;}


  /* article 공통 */
  .content2_inner>article>a{color:#222;}
  .content2_inner>article>a>div>h3{margin-top: 15px;margin-bottom: 10px;}
  .content2_inner>article>a>div>h3>img{height: 35px;}
  .content2_inner>article>a>div li:first-of-type{font-size: 16px;line-height: 24px;letter-spacing: -1px;}

  .content2_inner>article>a>span{overflow: hidden;display: block;}


  .content2_inner>article>div{position: absolute;display: flex;flex-direction: column;justify-content: center;align-items: center;background-color: #fff;transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s;}

  .content2_inner>article div.detail>h3{margin-bottom: 10px;}
  .content2_inner>article div.detail>h3>img{height: 35px;}

  .content2_inner>article>div li:first-of-type{color: #222;font-size: 16px;margin-bottom: 10px;}
  .content2_inner>article>div li{color: #555;font-size: 14px;line-height: 24px;}

  .content2_inner>article>div li:last-of-type{margin-top: 10px; padding: 0 15px;border: 1px solid #222;border-radius: 2px;}
  .content2_inner>article>div li:last-of-type>a{display: block; color: #222; padding-right: 20px; background: url(../images/ico_out_link04.png) no-repeat 100% 50%;} 




  /* article-1 */
  .content2_inner>article:nth-of-type(1){position: absolute;left: 10px;top: 215px;width: 500px;height: 610px;}
  .content2_inner>article:nth-of-type(1)>a>span{width: 500px;height: 500px;}
  .content2_inner>article:nth-of-type(1)>a>span>img{width: 100%;}
  .content2_inner>article:nth-of-type(1)>a>div{background: #fff;width: 100%;height: 110px;}

  .content2_inner>article:nth-of-type(1)>div{top:100%;width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(1):hover>div{top: 0;}



  /* article-2 */


  .content2_inner>article:nth-of-type(2){position: absolute;left: 562px;top: 215px;width: 550px;height: 220px;text-align: center;}
  .content2_inner>article:nth-of-type(2)>a>span{position: absolute;right: 0;width: 50%;height: 100%;}
  .content2_inner>article:nth-of-type(2)>a>span>img{width: 100%;}
  .content2_inner>article:nth-of-type(2)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}

  .content2_inner>article:nth-of-type(2)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

  .content2_inner>article:nth-of-type(2)>div{left: -100%; width: 100%; height: 100%;}
  .content2_inner>article:nth-of-type(2):hover>div{left: 0;}


  

  /* article-3 */
  .content2_inner>article:nth-of-type(3){position: absolute;left: 562px;top: 500px;width: 220px;height: 380px;text-align:center;}
  .content2_inner>article:nth-of-type(3)>a>span{position: absolute;right: 0;width: 220px;}
  .content2_inner>article:nth-of-type(3)>a>span>img{height: 220px}
  .content2_inner>article:nth-of-type(3)>a>div{position: absolute; bottom: 0;background: #fff;width: 100%;height:40%;text-align: center;}

  .content2_inner>article:nth-of-type(3)>div{top: 100%; left: 0; width: 100%; height: 100%;}
  .content2_inner>article:nth-of-type(3):hover>div{top: 0;}
  
  .content2_inner>article:nth-of-type(3)>div li:last-child{margin: 10px 50px;}
 

   /* article-4 */
  .content2_inner>article:nth-of-type(4){position: absolute; left: 834px;top: 495px;width: 300px;height: 576px;}
  .content2_inner>article:nth-of-type(4)>a>span{position: absolute;width: 100%}
  .content2_inner>article:nth-of-type(4)>a>span>img{width: 100%;}

  .content2_inner>article:nth-of-type(4)>a>div{position: absolute;bottom: 0;background: #fff;width: 100%;height: 120px;margin-bottom: 30px;}
  .content2_inner>article:nth-of-type(4)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat 0 0;}
  .content2_inner>article:nth-of-type(4)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(4)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

  .content2_inner>article:nth-of-type(4)>div{top:100%;width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(4):hover>div{top: 0;}




  /* article-5 */
  .content2_inner>article:nth-of-type(5){position: absolute;left: -90px;top: 877px; width: 300px;height: 300px;}
  .content2_inner>article:nth-of-type(5)>a>span{width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(5)>a>span>img{width: 100%;}

  .content2_inner>article:nth-of-type(5)>a>div>h3{position: absolute;bottom: 0;left: 10px;background: #fff;}

  .content2_inner>article:nth-of-type(5)>div{top:100%;width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(5):hover>div{top: 0;}

  .content2_inner>article:nth-of-type(5)>div li:last-child{margin: 10px 50px;}

  /* article-6 */

  .content2_inner>article:nth-of-type(6){position: absolute; left: 260px;top: 877px; width: 220px;height: 380px;}
  .content2_inner>article:nth-of-type(6)>a>span{width: 220px;}
  .content2_inner>article:nth-of-type(6)>a>span>img{width: 100%;}

  .content2_inner>article:nth-of-type(6)>div{top:100%;width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(6):hover>div{top: 0;}

  .content2_inner>article:nth-of-type(6)>div li:last-child{margin: 10px 50px;}

  /* article-7 */
  .content2_inner>article:nth-of-type(7){position: absolute;left: -20px;top: 1305px;width: 500px;height: 316px;}
  .content2_inner>article:nth-of-type(7)>a>span{position:absolute;right: 0;width: 50%;}
  .content2_inner>article:nth-of-type(7)>a>span>img{width: 100%;}

  .content2_inner>article:nth-of-type(7)>a>div{position: absolute;left: 0;background: #fff;width: 50%;height: 100%;text-align: center;}
  .content2_inner>article:nth-of-type(7)>a>div>h3{margin-top: 75px; margin-bottom: 10px;}

  .content2_inner>article:nth-of-type(7)>a>div li:first-of-type>span{display: block;position: absolute;left: 0;top: 0;width: 36px;height: 36px;background: url(../images/ico_movie.png) no-repeat -36px 0;}
  .content2_inner>article:nth-of-type(7)>a>div li:last-of-type>span, .content2_inner>article:nth-of-type(7)>div li:nth-of-type(5)>span{display: block;text-indent: -9999px;overflow: hidden;width: 108px;height:18px;background: url(../images/ico_movie.png) no-repeat 0 -36px; margin: 0 auto;}

  .content2_inner>article:nth-of-type(7)>div{left: -100%; width: 100%; height: 100%;}
  .content2_inner>article:nth-of-type(7):hover>div{left: 0;}


  /* article-8 */
  .content2_inner>article:nth-of-type(8){position: absolute; left: 562px;top: 1100px; width: 500px;height: 500px;}
  .content2_inner>article:nth-of-type(8)>a>span{width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(8)>a>span>img{width: 100%;}

  .content2_inner>article:nth-of-type(8)>div{top:100%;width: 100%;height: 100%;}
  .content2_inner>article:nth-of-type(8):hover>div{top: 0;}

  .content2_inner>article:nth-of-type(8)>div li:last-child{margin: 10px 100px;}


  /* circle-wrap */
  .circle_wrap>span{position: absolute;}

  .combine_left{top: 70px;left: 55px;width: 210px;height: 209px;background: url(../images/bg_circle_doughnut01.png)no-repeat 0 0;}
  .dougnut_Left_s{top: 800px;left: 65px;width: 162px;height:162px;background: url(../images/bg_circle02.png)no-repeat 0 0;}
  .dougnut_Left_L{top: 1310px;left: 25px;width: 508px;height:508px;background: url(../images/bg_circle06.png)no-repeat 0 0;}

  .dougnut_Center_M{top: 991px; left: 50%; transform: translateX(-50%); width: 206px; height: 206px; background: url(../images/bg_circle04.png)no-repeat 0 0;}
  .dougnut_Center_s{top: 722px; left: 914px;  width: 119px; height: 119px; background: url(../images/bg_circle03.png)no-repeat 0 0;}

  .dougnut_Right_L{top: 947px; right: 31px; width: 206px; height: 206px; background: url(../images/bg_circle05.png) no-repeat 0 0;}
  .dougnut_Right_s{top: 365px; right: 58px; width: 135px; height: 135px; background: url(../images/bg_circle01.png) no-repeat 0 0;}
  .combine_Right{top: 300px; right: 29px; width: 210px; height: 209px; background: url(../images/bg_circle_doughnut02.png)no-repeat 0 0;}



  /* content3 */
  .content3_inner>h2{font-size: 34px;line-height: 60px;font-family: cj_onlyone_medium;;text-align: center;}
  .content3_inner>ul{display: flex;justify-content: center;padding: 30px 0;}
  .content3_inner>ul>li{margin-left: 14px;padding-left: 14px;border-left: 1px solid #ddd;}
  .content3_inner>ul>li:first-of-type{border: none;margin-left: 0;padding-left: 0;}
  .content3_inner>ul>li>a{color: #888;font-size: 16px;line-height: 16px;}
  .content3_inner>ul>li>a:hover,.content3_inner>ul>li>a.on{color: #222;text-decoration: underline;}

  .content3_inner>div>ul{width: 100%;}
  .content3_inner>div>ul::after{content: "";display: block;clear: both;}
  .content3_inner>div>ul>li{position: relative;float: left;text-align: center;}
  
  .content3_inner>div>ul>li>a{display: block;width: 176px;height: 80px;border: 1px solid transparent; box-sizing: border-box;line-height: 80px;}
  .content3_inner>div>ul>li.on>a{border: 1px solid #f4790b;}
  .content3_inner>div>ul>li>a>img{height: 41px;}

  .content3_inner>div>ul>li>span{opacity: 0;z-index: 10;position: absolute;left: 0;top: 0;width: 176px;height: 80px;background: #eee;font-size: 16px;color: #555;padding: 25px 10px 0;line-height: 1.5;box-sizing: border-box;transition: all 0.1s ease 0s;box-sizing: border-box;}
  .content3_inner>div>ul>li>span::after{content: "";display: block;width: 10px;height: 16px;background: url(../images/ico_alliance_arrow01.png) no-repeat 0 0;position: absolute; left: -1px; top: 50%;transform: translateY(-50%);}
  .content3_inner>div>ul>li.on>span{opacity: 1;left: 176px;}

  .content3_inner>div>ul>li>span>strong{font-weight: bold;}

  .content3_inner>div>ul>li.event::after{content: "event";position: absolute;top: 8px;right: 8px;width: 38px;height: 16px;border-radius: 3px;background: #ee6900;color: #fff;font-size: 12px;text-align: center;line-height: 16px;font-family: arial;letter-spacing: 0;}

}